.menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: 0 auto;
}

.menuclass {
    text-align: center;

    h3 {
        font-size: 150%;
        padding: 3.5rem 0;
    }

    h4 {
        font-size: 150%;
        padding-top: 3.5rem;
    }
}