.fashoppingcart {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
  }

  .alert {
    font-size: 1rem;
    color: white;
    position: relative;
    top: -14px;
    right: -28px;
    padding: 0.25rem 0.4rem;
    background-color: red;
    border-radius: 50%;
  }
